<link rel="stylesheet" href="/css/index.css" />
<div class="hero_section">
  <div class="row">
    <div class="col-md-8">
      <div class="text-center">
        <h1 class="main_title">Welcome to Job Portal</h1>
        <div class="marquee-container">
          <span class="marquee-text">Find your dream job or post opportunities for others!</span>
        </div>
        <div class="mt-4">
          <a href="/jobs">I'm A Jobseeker</a>
          <a href="/login">I'm A Recuriter</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="img_container">
        <img
          src="/images/banner.png"
          alt="img"
        />
      </div>
    </div>
  </div>
</div>
